*{
  margin: 0 !important;
  font-family: 'Roboto' , 'Helvetica' ,' Arial' , 'sans-serif' !important;
}
*::selection{
  color: white !important;
  background-color:black !important;
}
*::-webkit-scrollbar{
  width:8px;
  background-color: rgb(206, 206, 206);
  padding-right: 20px;
  padding : 20px !important;
}
*::-webkit-scrollbar-thumb{
  width:6px;
  background-color:rgb(163, 163, 163);
  border-radius: 150px;
  background-clip: padding-box;
}
*::-webkit-scrollbar-thumb:hover{
  background-color:rgb(143, 143, 143);
}
.MuiFormControl-root{
  width:100% !important;
}
.logout{
  transition: transform 0.5s !important;
}
.logout:hover{
  transform: scale(1.09);
  transition: transform 0.5s;
}
.form_component{
  width:35%;
  margin-top:7% !important;
  background-color:white !important;
  border:0.5px solid rgb(153, 153, 153);
}
.form_header{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:1.8rem;
}
.form-control:focus{
  background-color: rgb(253, 253, 253);
  border: 0.5px solid rgb(163, 163, 163);
}
.MuiTouchRipple-root,.MuiIconButton-root, .PrivateSwitchBase-root-5, .MuiCheckbox-root, .MuiCheckbox-colorSecondary, .MuiIconButton-colorSecondary{
  color: black !important;
}
#terms:hover{
  color: rgb(19, 102, 141) !important;
  text-decoration: underline !important;
}
.MuiFormLabel-root{
  color:rgba(0,0,0,0.7) !important;
}
.Mui-focused>fieldset{
  border-color: rgb(153, 153, 153) !important;
}
.Mui-focused{
  color: rgba(0,0,0,0.7) !important;
}
input[type="file"]{
  display: none !important;
}
.disabled{
  color: white !important;
  background-color:rgb(83, 83, 83) !important;
  cursor: not-allowed !important; 
}
@keyframes wave {
  0% {transform:rotateZ(13deg);}
  50% {transform:rotateZ(0deg);}
  100% {transform:rotateZ(13deg);}
}
.wave{
  animation: wave 1s infinite;
}
.form_component_contact{
  width:35%;
  margin-top:7% !important;
  background-color:white !important;
}
.nav-link{
  color:rgb(122, 122, 122) !important;
}
.nav-link:hover{
  color: rgb(58, 58, 58) !important;
}
#active{
  color:black !important;
}
#disabled_entity{
  opacity:0.6;
  cursor:not-allowed;
}
#disabled_entity:hover{
  transform:scale(1) !important; 
}
.entity_card, .movie_card{
  width:32.3%;
  cursor:pointer;
  box-shadow: 1px 0px 8px 1px rgb(241, 241, 241);
  transition-duration:1s;
}
.entity_card:hover, .movie_card:hover {
  transform:scale(1.02);
  transition-duration:0.5s;
}
@media screen and (max-width:1009px) and (min-width:522px){
  .form_component{
    width:80%;
    margin-top:15% !important;
  }
  .form_component_contact{
    width:80%;
    margin-top: 17% !important;
  }
}
@media screen and (max-width:522px){
  .entity_card, .movie_card{
    width:90%;
  }
  .form_component{
    width:90%;
    margin-top:19% !important;
  }
  .form_component_contact{
    width:90%;
    margin-top: 19% !important;
  }
}

