<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body{
                text-align:left;
            }
            p{
                font-size: 13px;
            }
            a{
                color: white;
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <h2>Hello {{name}}!</h2>
        <h4>This is to inform you that a suspicious signin was tried for your account</h4>
        <h5>I that were you, ignore or please reset the password</h5>
    </body>
</html>