<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body{
                text-align:left;
            }
            p{
                font-size: 13px;
            }
            a{
                color: white;
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <h2>Hello {{name}}!</h2>
        <h4>This is a mini project application based on reviewing the entities</h4>
        <h5>Do give feedback of service or usefulness of the application at : </h5>
        <p>
            <a href='mailto:adityaubale63@gmail.com'>adityaubale63@gmail.com</a>
        </p>
    </body>
</html>